.ecomsignin{
    margin-top: 160px;
    margin-bottom: 130px;
}
.ecomsignintext{
    margin-right: 40px;
}
.ecomsignin .ecom-category-btn{
    min-width: 100px;
    min-height: 50px;
    background: #d10157;
    color: #fff;
    border: none;
    font-size: 14px;
    padding: 0 20px;
    font-weight: 600;
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ecomsignin input{
    min-height: 21px;
    border: 0;
    padding: 15px;
    border-bottom: 1px solid#dedede;
    font-size: 18px;
}

.ecomsignin input:focus-visible {
    outline: -webkit-focus-ring-color auto 0;
}

.ecom-errormsg{
    position: absolute;
}
.field {
    display: flex;
    flex-flow: column-reverse;
    /* margin-bottom: 1em; */
  }
  /**
  * Add a transition to the label and input.
  * I'm not even sure that touch-action: manipulation works on
  * inputs, but hey, it's new and cool and could remove the 
  * pesky delay.
  */
  label, input {
    transition: all 0.2s;
    touch-action: manipulation;
  }
  
  input {
    font-size: 1.5em;
    border: 0;
    border-bottom: 1px solid #ccc;
    font-family: inherit;
    -webkit-appearance: none;
    border-radius: 0;
    padding: 0;
    cursor: text;
  }
  
  input:focus {
    outline: 0;
    border-bottom: 2px solid #d10157;
  }
  
  label {
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }


  input:placeholder-shown + label {
    cursor: text;
    max-width: 66.66%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transform-origin: left bottom;
    transform: translate(20px, 2.125rem) scale(0.8);
  }

  ::-webkit-input-placeholder {
    opacity: 0;
    transition: inherit;
  }

  input:focus::-webkit-input-placeholder {
    opacity: 1;
  }

  input:not(:placeholder-shown) + label,
  input:focus + label {
    transform: translate(-3px,12.8px) scale(0.8);
    cursor: pointer;
    color: #d10157;
    width: fit-content;
    background: #fff;
    padding: 4px 5px;
  }
  .ecomsignin-tagline{
      font-size: 20px;
      margin-top: 5px;
  }
  .ecom-eye-positioning{
      top: 50%;
      right: 15px;
  }
  .ecom-eye-positioning img{
      width: 27px;
  }

  @media only screen and (max-width: 768px) {

    .ecomsignintext {
        margin-right: 0;
    }
}